<p class="title">
  Autori
</p>

<% @authors.each do |author| %>
  <span>Autore: <%= author.name %></span>
  <% author.books.each do |book| %>
    <div>Libro: <%= book.title %></div>
  <% end %>
<% end %>
