<p class="title">
  <%= @text %>
</p>

<span>
  MQ7ddddddddldklòdkdlòkddlòdldllòàl
</span>

<%= I18n.t('title2') %>

<p>
  cache: <%= Rails.cache.fetch('mq', expires_in: 2.hours) { Time.now } %>
</p>

<div>
  <%= image_tag('home/mr_q.png', alt: 'MQ') %>
</div>